[Unit]
Description=Shiftory API
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=shiftory
Group=shiftory
WorkingDirectory=/YOUR/DEPLOY/DIRECTORY
ExecStart=/YOUR/DEPLOY/DIRECTORY/bin/shiftory-api --env production --config /YOUR/DEPLOY/DIRECTORY/config/production.yaml
Restart=on-failure
RestartSec=5s
TimeoutStopSec=360s
PrivateTmp=true
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/YOUR/DEPLOY/DIRECTORY/uploads /YOUR/DEPLOY/DIRECTORY/var

[Install]
WantedBy=multi-user.target
